.container {
    display: flex;
    flex-direction: column;
}

.box1 {
    display: flex;
    background-color: #1f2937;
}

.box2 {
    display: flex;
}

.imgs {
    display: flex;
}

.box3 {
    display: flex;
    background-color: #e5e7eb;
}

.box4 {
    display: flex;
}